.header {
    font-size: 1.5rem;
    background-color: #494949;
    box-shadow: 0px 0px 4px #232323;
}
.header div {
  padding-top: 0.5rem;
  padding-left:0.5rem;
  padding-bottom: 0.5rem;
  font-weight:bold;
  color: #FBFBF6;
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
.header span {
  color: #FCD4D5;
}
.header img {
  vertical-align: middle;
}

body {
  font-size: 14px;
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  background-color:#FDFCF5;
}

.main {
  padding-top: 30px;
  padding-left:20px;
  padding-right:20px;
  padding-bottom:20px;
  font-size: 1.5rem;
}

.main_frame {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 2px 2px 4px -2px #898989; 2px 2px 4px #FFFFFF inset;
  padding-top: 1.0rem;
  padding-left:0.5rem;
  padding-right:0.5rem;
  padding-bottom: 1.0rem;
  background-color: #FFFFFF;
}

.kan_frame {
  margin-left:5px;
  padding-top: 5px;
  padding-left:5px;
  padding-right: 5px;
  padding-bottom:5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid #D3DBE2;
  box-shadow: 1px 1px 2px -1px #898989;
}

.modal-content{
	width:70%;
	border:2px solid #aaa;
	z-index:2;
}

.weapon_list {
  margin-left:3px;
  margin-right:5px;
  margin-bottom:5px;
  width:280px;
  height:24px;
  background: #FAFAFA;
  box-shadow: 1px 1px 2px #898989 inset;
  border-radius:12px 4px 4px 12px;
}

.release-line {
  margin-left:8px;
  height:120px;
  border-left: thick solid #BBBCBF;
  padding-left: 4px;
}

.container {
  margin:10px 0;
}

.block{
  display:table;
}
.block_element{
  display:table-cell;
}




/* 共通スタイルシート */

.width_10p{
  width:10%;
}
.width_15p{
  width:15%;
}
.width_40p{
  width:40%;
}
.width_55p{
  width:55%;
}

.flex-container{
  display:flex;
  flex-wrap: wrap;
}

.list_title{
  padding:6px;
  color:#FFFFFF;
  border-radius:6px 6px 0px 0px;
  background-color: #737373;
}

.plain{
  padding: 0px;
  border:0px;
}

.lists{
  padding:6px;
  border-top:0px;
  border-bottom:0px;
}

.font-pw{
  color:#740A00;
}

.color-th{
  color:#001A43;
}

.color-as{
  color:#7058a3;
}

/* 艦選択モーダルウィンドウ用スタイルシート */


.myship_list_name {

}

.myship_list_param {
}
